*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#eef6ff;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.appointment-box{

    width:900px;

    background:white;

    padding:35px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.12);

}

h1{

    color:#2563eb;

    margin-bottom:10px;

}

.appointment-box p{

    color:#555;

    margin-bottom:25px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:#2563eb;

    color:white;

    padding:15px;

}

td{

    padding:15px;

    text-align:center;

    border-bottom:1px solid #ddd;

}

.status{

    background:#fff3cd;

    color:#856404;

    padding:6px 14px;

    border-radius:20px;

    font-weight:600;

}

.buttons{

    margin-top:30px;

}

button{

    background:#2563eb;

    color:white;

    border:none;

    padding:12px 30px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#1d4ed8;

}