*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eaf6ff;
}

.dashboard{
    width:90%;
    margin:auto;
    padding:40px;
}

.dashboard h1{
    text-align:center;
    color:#0d6efd;
}

.dashboard p{
    text-align:center;
    margin-top:10px;
    color:#555;
}

.cards{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:25px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card h2{
    color:#0d6efd;
    margin-bottom:15px;
}

.card p{
    margin-bottom:20px;
}

.card button{
    width:100%;
    padding:12px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
}

.card button:hover{
    background:#084298;
}