<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/patient_login.css') }}">
</head>

<body>

    <div class="container">

        <div class="login-box">

            <h1>👤 Patient Login</h1>

            <p>Login to book your appointment</p>

            <form action="/patient-login" method="POST">

                <input
                    type="email"
                    name="email"
                    placeholder="Enter Email"
                    required>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    required>

                <button type="submit">
                    Login
                </button>

            </form>

            <p class="register">
                Don't have an account?
                <a href="/patient-register">Register Now</a>
            </p>

            <a class="back" href="/login">
                ← Back
            </a>

        </div>

    </div>

</body>
</html>